* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Slabo 27px", sans-serif;
}

p {
  padding: 1em;
}

a {
  text-decoration: none;
  color: #f736d3;
}

.container {
  margin: 1em auto;
  width: 60vw;
}

header {
  padding: 2em 0;
  text-align: center;
}

section {
  padding: 2em 0;
}

section form {
  display: grid;
  grid-template-columns: 1fr 1fr 60px;
  grid-gap: 10px;
}

.form-input {
  width: 100%;
}

.form-input input {
  width: 100%;
  border: 1px solid silver;
  padding: 5px;
}

.form-input input:focus {
  outline: 1px solid #35affc;
  border: none;
}

form button {
  padding: 5px;
  background: #35affc;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

#result {
  text-align: center;
}

#result h3 {
  font-weight: normal;
  font-size: 1.5em;
}

#result span {
  font-weight: 600;
  color: #35affc;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 1em auto;
    width: 80vw;
  }

  section form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  section form button {
    width: 40%;
    padding: 10px;
    margin: 0 auto;
  }

  .form-input {
    width: 60%;
    margin: 5px auto;
  }
}
